<div class="licence-container" [ngClass]="{'pt-30px': !isLogin}">
    <div class="main-container">
            <div class="licence-wrapper" style="overflow:auto; height:470px;">
            <p><strong>Privacy Policy</strong></p>
            <p><strong><em>Effective as of 23 April 2019</em></strong></p>
            <p>PlanPlus Global Inc. (referred to as &ldquo;PlanPlus&rdquo;, &ldquo;we&rdquo;, &ldquo;us&rdquo; or
                &ldquo;our&rdquo;), is a company registered in Ontario Canada with registered office at 55 Mary St.,
                Suite 200,
                Lindsay, Ontario K9V 5Z6. PlanPlus Global Inc. owns several subsidiaries, including FinaMetrica Pty Ltd.
                (Australia). PlanPlus is the company responsible for the processing of your Personal Data.</p>

            <p>We at PlanPlus Global Inc. are committed to respecting your privacy and recognize your need for
                appropriate
                protection and management of any personal information or personal data (&ldquo;Personal Data&rdquo;) you
                share
                with us. This Privacy Policy applies to our Websites, Client Portal, and our SuitabilityPro subscription
                service
                (collectively &ldquo;our Subscription Service&rdquo;).</p>
            
            <p>If you are an advisor that is trialing or subscribing to our Subscription Service, your use of the
                Websites and
                any material contained therein is also governed by our <a
                    href="https://www.planplusglobal.com/terms-of-service/">Terms and Conditions of Use</a> and <a
                    href="https://www.planplusglobal.com/privacy-policy/">Privacy Policy</a>.</p>
            
            <p>If you are an advisory client and your advisor has registered you to use the Client Portal, your use of
                the
                Website and any material contained therein is also governed by our <a
                    href="http://www.planplusglobal.com/client-terms">Client Terms and Conditions of Use</a>.</p>
            
            <p>This Privacy Policy is incorporated into the relevant Terms and Conditions of Use above and sets out the
                basis on
                which any Personal Data we collect from you, or that you provide to us (either directly or via a third
                party
                such as your financial advisor or as described in this Privacy Policy), will be processed by us. It also
                describes your choices regarding use, access and correction of your Personal Data. Capitalized terms
                used
                in this Privacy Policy and not otherwise defined shall have the meanings provided for those terms in the
                Terms
                and Conditions of Use.</p>
            
            <p>Please read the following carefully to understand our views and practices regarding your Personal Data
                and how we
                will treat it. By using our Subscription Service, you consent to the data practices described in this
                Privacy
                Policy. If you do not agree with the data practices described in this Privacy Policy, you must not use
                our
                Subscription Service.&nbsp;</p>
           
            <p>By providing information to us about you (either directly or via a third party such as your financial
                advisor,
                from associated website or as described in this Privacy Policy), you are accepting and consenting to the
                practices described in this Privacy Policy.</p>
            
            <p>Please ensure you have read and understood the relevant Terms and Conditions of Use in addition to this
                Privacy
                Policy before using the Website or submitting any Personal Data to us.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>The scope and nature of the service that PlanPlus provides </strong></p>
            <p>PlanPlus Global Inc. designs software for use by financial services provider&rsquo;s (the
                &ldquo;Subscriber&rdquo;) financial planners, wealth managers, brokers or other financial advisors
                (&ldquo;Advisor&rdquo;) to support the Advisor in exercising their professional judgement in providing
                financial
                guidance or advice to the Advisor&rsquo;s clients (the &ldquo;Clients&rdquo;). PlanPlus&rsquo;s software
                is
                available to Subscribers as an annual subscription service (paid monthly or annually) as presented and
                offered
                from-time-to-time at <a href="http://www.planplusglobal.com">www.planplusglobal.com</a>, which includes
                but is
                not limited to the SuitabilityPro: FinaMetrica Profiler (&ldquo;Profiler&rdquo;), SuitabilityPro:
                ProTracker and
                SuitabilityPro: ProPlanner, which may include a collaborative website portal from which Advisors can
                interact
                with their Clients (&ldquo;Client Portal&rdquo;), collectively referred to as the &ldquo;SuitabilityPro
                Modules&rdquo;. The SuitabilityPro Modules are delivered from the websites <a
                    href="http://www.suitabilitypro.com">www.suitabilitypro.com</a>, <a
                    href="http://www.miplanplus.com">www.miplanplus.com</a> and <a
                    href="http://www.planplusglobal.com">www.planplusglobal.com</a> (&ldquo;Websites&rdquo;).
                Collectively, the
                SuitabilityPro Modules, the Client Portal, the Websites, and other services or products offered by
                PlanPlus on
                the Websites or elsewhere shall be referred to hereafter as the &ldquo;PlanPlus Global Software&rdquo;.
            </p>
            <p>Depending on the context of the relationship above, we may process Personal Data as a processor,
                controller or
                joint controller for the purposes of providing our services.</p>
            <p>We also process certain Personal Data of Subscribers as a data controller. Such Personal Data includes,
                invoicing
                details and other Personal Data of our Subscriber&rsquo;s contact persons, in order to maintain our
                relationship
                and to provide support using the tools provided by our third party providers/processors as outlined in
                this
                Privacy Policy.</p>
            <p>&nbsp;</p>
            <p><strong>Information we collect from you</strong></p>
            <p>We may collect and process the following information about you:</p>
            <ol>
                <li>Information you give us</li>
            </ol>
            <p>You may give us information about you by filling in forms on our Website, by corresponding with us by
                phone,
                e-mail, LiveChat or otherwise. This includes information you provide when you register to use our
                Website, our
                services and when you report a problem with our Website and/or services.</p>
            <ol start="2">
                <li>Information we receive from other sources</li>
            </ol>
            <p>We may receive information about you if you use any third party websites or a financial advisor, as
                described in
                this Privacy Policy, who submits your Personal Data to us via a third party website, directly or
                otherwise. In
                each case, you will have been informed by your advisor when your information was collected that it may
                be shared
                with us and will have consented to this sharing before your information was shared with us.&nbsp;</p>
            <p>Where an associated website or other third party registered your access to the Client Portal, such third
                parties
                may have access to your Personal Data also. For example, if you are the client of a financial advisor,
                your
                financial advisor will have access to your personal information.&nbsp;</p>
            <p>If your access to the PlanPlus Global Software was registered through an associated website, via your
                financial
                advisor or other third party (or via a combination of these means), you will need to review the privacy
                policies
                of these individuals or entities to understand how they process your Personal Data.</p>
            <p>&nbsp;</p>
            <p><strong>Submitting Personal Data to us about third parties</strong></p>
            <p>If you provide us with information about another person, then you must:</p>
            <ul>
                <li>have a lawful basis to do so; or</li>
                <li>have their consent:</li>
            </ul>
            <p>- that you are disclosing their Personal Data to us, and</p>
            <p>- provide them with a copy of (or refer them to) this Privacy Policy.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>Legal bases for processing (for EEA users)</strong></p>
            <p>If you are an individual in the European Economic Area (EEA), we collect and process information about
                you only
                where we have legal bases for doing so under the EU General Data Protection Regulation (GDPR). The legal
                bases
                depend on the services you use and how you use them. This means we collect and use your information only
                where:
            </p>
            <ul>
                <li>we need it to provide you the services, including to operate the services, provide customer support
                    and
                    personalized features and to protect the safety and security of the services;</li>
                <li>it satisfies a legitimate interest (which is not overridden by your data protection interests), such
                    as for
                    research and development and to protect our legal rights and interests;</li>
                <li>you give us consent to do so for a specific purpose; or</li>
                <li>we need to process your data to comply with a legal obligation.</li>
            </ul>
            <p>If you have consented to our use of information about you for a specific purpose, you have the right to
                change
                your mind at any time, but this will not affect the lawfulness of the processing of your Personal Data
                that has
                already taken place. Where we are using your information because we or a third party (e.g. your
                financial
                advisor) have a legitimate interest to do so, you have the right to object to that use though, in some
                cases,
                this may mean no longer using the services.&nbsp;</p>
            <p>Where we rely on contract, we will ask that you agree to the processing of Personal Data that is
                necessary for
                entering into or performance of your contract.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>PlanPlus&rsquo;s data security commitment to you</strong></p>
            <p>We will take all reasonable and appropriate security measures to protect your Personal Data from misuse,
                interference and loss, unauthorised access, modification or disclosure, unauthorised or unlawful
                processing and
                against accidental loss or destruction, or damage.</p>
            <p>PlanPlus has implemented appropriate technical and organisational measures to protect your Personal Data
                consistent with standard industry practice. Such measures take into account the state of the art, the
                costs of
                implementation and the nature, scope, context and purposes of processing as well as the risk of varying
                likelihood and severity for the rights and freedoms of natural persons, including where appropriate, the
                following measures:</p>
            <ul>
                <li>access right controls to systems;</li>
                <li>the pseudonymisation and encryption of Personal Data;</li>
                <li>the ability to ensure the ongoing confidentiality, integrity, availability and resilience of
                    processing
                    systems and services;</li>
                <li>the ability to restore the availability and access to Personal Data in a timely manner in the event
                    of a
                    physical or technical incident;</li>
                <li>a process for regularly testing, assessing and evaluating the effectiveness of technical and
                    organisational
                    measures for ensuring the security of the processing.</li>
            </ul>
            <p>Unfortunately, the transmission of data via the internet, whether wired or wireless, is not completely
                secure.
                Although we will do our best to protect your Personal Data, internet data transmissions, cannot be
                guaranteed to
                be 100% secure, and as a result, we cannot ensure the security of data you transmit to us; accordingly,
                you
                acknowledge that you do so at your own risk. We recommend that you take the appropriate steps to secure
                all
                computing devices that you use in connection with our Website, software, system and services. Once we
                have
                received your information, we will take reasonable steps and security features to prevent unauthorized
                access.
            </p>
            <p>&nbsp;</p>
            <p><strong>Confidentiality</strong></p>
            <p>We will treat all Personal Data as confidential and we will inform all our employees, representatives
                and/or
                approved processors and sub-processors engaged in processing the Personal Data of the confidential
                nature of the
                Personal Data. We will ensure that all such persons or parties have signed an appropriate
                confidentiality
                agreement, are otherwise bound to a duty of confidentiality, or are under an appropriate statutory
                obligation of
                confidentiality.</p>
            <p>&nbsp;</p>
            <p><strong>PART 1: Privacy Statement for those registered to use the Client Portal.</strong></p>
            <p>Please see below for the Privacy Statement for those registered to use the Client Portal or complete the
                Test, or
                go to <a href="http://www.planplusglobal.com/privacy-policy">www.planplusglobal.com/privacy-policy</a>.
            </p>
            <p>&nbsp;</p>
            <p><strong>PART 2: Privacy Statement for </strong><strong>Subscribers using the PlanPlus Global
                    Software</strong><strong>.</strong></p>
            <p>Please see below for the Privacy Statement for Subscribers using The PlanPlus Global, or go to <a
                    href="http://www.planplusglobal.com/terms-of-service">www.planplusglobal.com/terms-of-service</a>.
            </p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>Data Subjects Rights a</strong><strong>nd how to exercise them</strong></p>
            <p>If you are an individual in the EEA, you have certain rights in respect to your Personal Data. Where we
                decide
                how and why Personal Data is processed, we are a data controller and we include further information
                about the
                rights that individuals have and how to exercise them below. These rights include:</p>
            <ul>
                <li>The right to be informed</li>
                <li>The right of access</li>
                <li>The right to rectification</li>
                <li>The right to erasure</li>
                <li>The right to restrict processing</li>
                <li>The right to data portability</li>
                <li>The right to object</li>
                <li>Rights in relation to automated decision making and profiling</li>
            </ul>
            <p>If you wish to exercise any of these rights, please send an email to <a
                    href="mailto:privacy@planplusglobal.com">privacy@planplusglobal.com</a>. &nbsp;We will aim to
                respond to any
                requests for information promptly, and in any event within one month of the request.</p>
            <p>&nbsp;</p>
            <p><strong>Withdrawal of consent</strong></p>
            <p>Where we process Personal Data based on consent, individuals have a right to withdraw consent at any
                time,
                without affecting the lawfulness of processing based on consent before your withdrawal. To withdraw
                consent to
                our processing of your Personal Data please email us at <a
                    href="mailto:privacy@planplusglobal.com">privacy@planplusglobal.com</a>, or, to stop receiving an
                email from
                us e.g. marketing list, please click on the unsubscribe link in the relevant email received from us.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>When and how we share Personal Data and locations of processing</strong></p>
            <p>We will only share Personal Data with others when we are legally permitted to do so. When we share data
                with
                others, we put contractual arrangements and security mechanisms in place to protect the data and to
                comply with
                our data protection, confidentiality and security standards. To facilitate our global operations, we may
                process, transfer, store and access Personal Data from around the world, including Canada, the United
                States,
                the United Kingdom and Australia.</p>
            <p><strong>Service Providers/Processors:</strong> We work with third-party service providers/processors to
                provide
                website and application development, hosting, maintenance, backup, storage, virtual infrastructure,
                payment
                processing, analysis and other services for us, which may require them to access or use information
                about you.
                If a third-party service provider/processor needs to access information about you to perform services on
                our
                behalf, they do so under close instruction from us, including policies and procedures designed to
                protect your
                information.</p>
            <p>Personal Data will be transferred outside the countries where we and our customers are located. This
                includes
                countries outside the EEA, Canada and Australia. Where we transfer personal data outside of the EEA to a
                country
                not determined by the European Commission as providing an adequate level of protection for Personal
                Data, we
                have taken steps to ensure all Personal Data is provided with adequate protection and that all transfers
                of
                Personal Data outside the EEA, Canada and Australia are done lawfully.</p>
            <p>You acknowledge and agree that, in connection with the performance of our services, Personal Data will be
                transferred to our relevant third party service provider/ processor to perform services on our behalf
                listed at
                <a
                    href="http://www.planplusglobal.com/gdpr/serviceprovider">www.planplusglobal.com/gdpr/serviceprovider</a>
                for
                the purposes and at the location stipulated. Our providers Google LLC, Amazon Web Services Inc., HubSpot
                Inc.,
                LiveChat Inc., Atlassian Pty Ltd based in the United States have been certified to the EU-U.S. Privacy
                Shield
                Frameworks as administered by the U.S. Department of Commerce, in order to implement appropriate
                safeguards for
                such transfers pursuant to Article 46 of the GDPR.</p>
            <p>Our Subscription Service including our Website is hosted by Amazon Web Services in Canada given
                PlanPlus
                provides its services from Canada. The information provided by you or about you by a third party such as
                your
                financial advisor will be processed and stored on AWS&rsquo; secure server(s) located in Canada.</p>
            <p>If you are from a country outside Canada, the various electronic communications will necessarily result
                in the
                transfer of information across national boundaries. We rely on Article 49(1)(b) for the transfer of
                Personal
                Data outside of the EEA to Canada. If you are based in the EEA, the transfer is necessary for the
                performance of
                a contract between you and PlanPlus, the performance of a contract between you and your financial
                adviser to
                have access to the Client Portal or Test or the implementation of pre-contractual measures taken at your
                request.</p>
            <p>Personal data held by us may also be shared and transferred to:</p>
            <p><strong>Our Partners</strong>: We work with third parties including our Regional Partners in the UK,
                Germany,
                India and South Africa and who provide consulting, sales, and technical services to deliver and
                implement
                customer solutions around the services in their specified country or territory. We will share your
                information
                with these third parties in connection with their services, such as to assist with billing and
                collections, to
                provide localized support, and to provide customizations. We may also share information with other third
                parties
                including our Alliance Partners that you have selected to receive an associated subscription discount.
            </p>
            <p><strong>Sharing with affiliated companies: </strong>We share information we collect with affiliated
                companies
                and, in some cases, with prospective affiliates, in order to operate and improve products and services,
                to
                provide localized support and to offer other affiliated services to you. Affiliated companies are
                companies that
                own us, or are owned by our affiliated companies, or operated by us. The protections of this Privacy
                Policy
                apply to the information we share in these circumstances.</p>
            <p><strong>Links to Third Party Sites</strong>: The services may include links that direct you to other
                websites or
                services whose privacy practices may differ from ours. If you submit information to any of those
                third-party
                sites, your information is governed by their privacy policies. We encourage you to carefully read the
                privacy
                policy of any website you visit.</p>
            <p><strong>With your consent</strong>: We share information about you with third parties when you give us
                consent to
                do so. For example, we often display personal testimonials of satisfied customers on our public
                websites. With
                your consent, we may post your name alongside the testimonial.</p>
            <p><strong>Business Transfers</strong>: We may share or transfer information we collect under this Privacy
                Policy in
                connection with any merger, sale of company assets, financing, or acquisition of all or a portion of our
                business to another company. You will be notified via email and/or a prominent notice on the services if
                a
                transaction takes place, as well as any choices you may have regarding your information.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>Compliance with Law and Similar Obligations</strong></p>
            <p>In exceptional circumstances, we may also disclose your Personal Data as is necessary to: (a) respond to
                or
                comply with a subpoena or court order; (b) co-operate with law enforcement or other government agency;
                (c)
                establish or exercise our legal rights; (d) defend against legal claims; or (e) as otherwise required by
                law or
                permitted by law.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>How we use Cookies </strong></p>
            <p>PlanPlus requires cookies to be activated in order for the Website to function efficiently. A cookie
                contains
                information that enables our servers (i.e. the computers that house this Website) to identify and
                interact
                efficiently with your device. The Website uses session cookies which exist only for the browser session
                and are
                deleted automatically once you close your browser.</p>
            <p>When coming to our Website for the first time you will be able to select the cookies we may use. The
                Website also
                allows you to use cookies to save passwords and preferences, so you do not have to re-enter them each
                time you
                visit the Website. You may also select to allow us to use cookies for analytics and for marketing
                purposes. All
                of these cookies can be deleted by you at any time.</p>
            <p>You can configure your browser to either accept all cookies, reject all cookies or to notify you when a
                cookie is
                being sent to your device. The Help function on your browser will provide you with details on how to
                change your
                browser configurations. You will need to accept cookies in order to use some functionality on this
                Website.<br /> </p>
            <p>By accessing and using the Website, you consent to the placement of cookies in your browser in accordance
                with
                our Privacy Policy.</p>
            <p>&nbsp;</p>
            <p><strong>Browsing the Website</strong></p>
            <p>When you visit and access the Website, we collect general information that enables us to continually
                evaluate and
                improve the performance of the Website. This general information includes:</p>
            <ul>
                <li>Device and connection information such as browser type and version, operating system and platform;
                </li>
                <li>The name and Internet Protocol (IP) address of the device accessing the Website;</li>
                <li>The number of users visiting the Website and the number of pages viewed;</li>
                <li>The date, time and duration of visits; and</li>
                <li>The path taken through the Website.</li>
            </ul>
            <p>By using the above general information, PlanPlus can identify errors on the Website, such as defective
                hyperlinks
                or program defects, and thus continually improve the quality of the Website. By using the Website, you
                hereby
                consent to PlanPlus collecting and processing such information. PlanPlus reserves the right to review
                the IP
                address of a user where PlanPlus has reasonable cause to believe that the user is using the Website in
                breach of
                contractual agreements or the applicable legislation.</p>
            <p>&nbsp;</p>
            <p><strong>How long we keep information</strong></p>
            <p>How long we keep information we collect about you depends on the type of information, as described in
                further
                detail below. After such time, we will either delete or anonymize your information or, if this is not
                possible
                (for example, because the information has been stored in backup archives), then we will securely store
                your
                information and isolate it from any further use until deletion is possible.</p>
            <p><strong>Subscription information</strong>: We retain your subscription information for as long as your
                account is
                active and a reasonable period thereafter in case you decide to re-activate the Subscription Service. We
                also
                retain some of your information as necessary to comply with our legal obligations, to resolve disputes,
                to
                enforce our agreements, to support business operations, and to continue to develop and improve our
                services.
                Where we retain information for service improvement and development, we take steps to eliminate
                information that
                directly identifies you, and we only use the information to uncover collective insights about the use of
                our
                services, not to specifically analyze personal characteristics about you.&nbsp;</p>
            <p><strong>Information you share on the Client Portal</strong>: You may provide information for your Advisor
                on our
                Websites, including answers to questionnaires, financial data, etc. We retain the information as
                necessary to
                comply with our legal obligations, to resolve disputes, to enforce our agreements, to support business
                operations, and to continue to develop and improve our services. Where we retain information for service
                improvement and development, we only use the information to uncover collective insights about the use of
                our
                services, not to specifically analyze personal characteristics about you.&nbsp;</p>
            <p><strong>Marketing information</strong>: If you have elected to receive marketing emails from us, we
                retain
                information about your marketing preferences for a reasonable period of time from the date you last
                expressed
                interest in our services. We retain information derived from cookies and other tracking technologies for
                a
                reasonable period of time from the date such information was created.</p>
            <p>&nbsp;</p>
            <p><strong>Changes to our Privacy Policy</strong></p>
            <p>As PlanPlus evolves, will need to update this Privacy Policy from time to time to keep pace with changes
                in our
                Website, Subscription Service, our business, and laws applicable to us and you. We will, however, always
                maintain our commitment to respect your privacy. We will notify you of any material changes that impact
                your
                rights under this Policy by email (to your most recently provided email address) or post any revisions
                to this
                Policy, along with their effective date, on <a
                    href="http://www.planplusglobal.com/privacy-policy">www.planplusglobal.com/privacy-policy</a> so we
                recommend you check back here frequently to stay informed of any changes.</p>
            <p>You acknowledge that your continued use of our Website, the Subscription Service, our services and/or
                continued
                provision of Personal Data to us after we publish or send a notice about our changes means that the
                collection
                use and sharing of your Personal Data is subject to the updated Privacy Policy.</p>
            <p>You confirm that you have read and understand this Privacy Policy and that you consent to the terms of
                our
                Privacy Policy.</p>
            <p>&nbsp;</p>
            <p><strong>Complaints</strong></p>
            <p>We hope that you won&rsquo;t ever need to, but if you do want to complain about our use of Personal Data,
                please
                send an email with the details of your complaint to <a
                    href="mailto:privacy@planplusglobal.com.">privacy@planplusglobal.com.</a> We will look into and
                respond to
                any complaints we receive within 10 business days from receipt.</p>
            <p>If you are based in the EU you also have the right to lodge a complaint with the relevant local
                supervisory
                authority for data protection.</p>
            <p>&nbsp;</p>
            <p><strong>How to Contact Us</strong></p>
            <p>If you have any questions about this Privacy Policy or how and why we process Personal Data, please
                contact us
                at:</p>
            <p>Privacy Office<br /> Email: <a href="mailto:privacy@planplusglobal.com">privacy@planplusglobal.com</a>
            </p>
            <p>Phone: +1 705 324 8001</p>
            <p>Post: PlanPlus Global Inc., Attn. Privacy Office, 55 Mary St., Suite 200, Lindsay, Ontario K9V 5Z6,
                CANADA.</p>
            <p>&nbsp;</p>
            <p><strong>PART 1: Privacy Statement for those registered to use the Client Portal</strong></p>
            <p><strong>What Personal Information Does PlanPlus Collect?</strong></p>
            <p>We collect and process the following information about you:</p>
            <ol>
                <li>Your name (which may be generic or fictitious) and, if you are registered to use the Client Portal,
                    your
                    email (which may be generic or fictitious) and, if you access the Website, your IP addresses;</li>
                <li>Your answers to questionnaires presented in the Client Portal as well as any financial data you may
                    wish to
                    share with your Advisor through the Client Portal;</li>
                <li>In some situations, you may have the option to enter optional demographic and research information
                    for
                    research purposes to understand the pattern of risk in the community.</li>
            </ol>
            <p>&nbsp;</p>
            <p><strong>When is that information collected?</strong></p>
            <p>We collect the information in paragraphs (a), (b), and (c) (&ldquo;Your Information&rdquo;) from your
                financial
                advisor, from associated websites, or other third party who registered you to have access to the Client
                Portal
                (&ldquo;Your Financial Advisor&rdquo;) or through your use of the Website. You will have consented to
                Your
                Information being shared with us, where information is provided via a third party.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>How is </strong><strong>Your Information used and processed?</strong></p>
            <p>Your <strong>email address </strong>is used to send an email to you notifying you of your username and
                password.
                Your <strong>name</strong> is used for the purpose of identifying you in the database at the Website -
                for
                example, if you lost your PlanPlus username and password, we would use your name to search for and
                retrieve
                them. Your <strong>name</strong> may be a generic or fictitious name.</p>
            <p>Your <strong>IP address</strong> is used to assist us to establish where the Test was completed in the
                event of a
                legal dispute.</p>
            <p>The <strong>answers to the risk profile questionnaire </strong>are used by PlanPlus for the primary
                purpose of
                producing your risk tolerance and suitability report, including information for your personal use in the
                management of your financial affairs or for use by Your Financial Advisor in advising you with regard to
                your
                financial affairs or for use by the third party through whom you were registered to do use the Client
                Portal.
            </p>
            <p>Your information is necessary for the performance of a contract between you and PlanPlus, the performance
                of a
                contract between you and Your Financial Advisor in advising you with regard to your financial affairs,
                the
                performance of a contract between you and a third party through whom you were registered to use the
                Client
                Portal or the implementation of pre-contractual measures taken at your request.</p>
            <p>PlanPlus will use a copy of the risk profile, financial data and optional demographic and research
                information
                (&ldquo;Research Information&rdquo;) you supply <em>with all your personal identifiers removed </em>for
                secondary purposes of researching risk tolerance and risk-taking behaviour and to further develop the
                Test.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>ALL INFORMATION THAT COULD IDENTIFY YOU WILL BE REMOVED FROM THIS RESEARCH INFORMATION</strong>
            </p>
            <p>The anonymous Research Information will be combined with similar information from other people who have
                completed
                a risk profile into an existing separate aggregated, anonymous database which may be supplied to third
                parties.
            </p>
            <p>&nbsp;</p>
            <p><strong>Processing and Transfer of Your Information to Canada</strong></p>
            <p>Our Subscription Service including our Client Portal is hosted by our provider located in Montreal,
                Canada given
                PlanPlus provides its services from Canada. The information provided by you or about you by a third
                party such
                as Your Financial Advisor will be processed and stored on our secure Amazon Web Services server(s)
                located in
                Canada.</p>
            <p>If you are from a country outside Canada, the various electronic communications will necessarily result
                in the
                transfer of information across national boundaries.</p>
            <p>The GDPR sets out in detail the factors the EU Commission is to consider when deciding whether a third
                country or
                international organization ensures an adequate level of protection (Article 45). The European Commission
                has
                recognized Canada, through Canada&rsquo;s <em>Personal Information and Electronic Documents Act</em>, as
                providing adequate protection, therefore we rely on this Article for the transfer of Personal Data
                outside of
                the EEA to Canada. If you are based in the EEA, the transfer is necessary for the performance of a
                contract
                between you and PlanPlus, the performance of a contract between you and Your Financial Advisor in
                advising you
                with regard to your financial affairs, the performance of a contract between you and a third party
                through whom
                you were registered to use the Client Portal or the implementation of pre-contractual measures taken at
                your
                request.</p>
            <p>&nbsp;</p>
            <p><strong>Disclosure of Your Information</strong><strong> Outside of Canada</strong></p>
            <p>Your Financial Advisor may be located outside of Canada and/or may retrieve or download Your Information
                or may
                initiate an automatic transfer of Your Information on a regular basis to a computer or server located
                outside of
                Canada. Your Financial Advisor may not be a Canadian entity or may not be regulated by the Canadian
                <em>Personal
                    Information and Electronic Documents Act</em> and the Canadian Privacy Principles (CPPs).</p>
            <p>By using or participating in our services and/or providing us with Your Information, you consent to the
                disclosure of Your Information to Your Financial Advisor, on the basis that if Your Financial Advisor
                engages in
                any act or practice that contravenes the CPPs it may not be accountable under the Canadian <em>Personal
                    Information and Electronic Documents Act</em> and you may not be able to seek redress under the Act.
            </p>
            <p>&nbsp;</p>
            <p><strong>PART 2: Privacy Statement for Subscribers using the PlanPlus Global Software.</strong></p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>What information does PlanPlus hold?</strong></p>
            <p>If you have been registered to use the Website so as to be able to register other persons to use the
                Client
                Portal, our records hold the information mentioned in <strong>PART 1: Privacy Statement for those
                    registered to
                    use the Client Portal </strong>for each of the persons that you register, and for you:</p>
            <ol>
                <li>Personal information about you as required to effect the relationship you have with us. This
                    information may
                    include your name, current and previous addresses, telephone/mobile numbers, current and previous
                    email
                    addresses, and your organisation details.</li>
                <li>Your IP address used to connect your device to the Internet when you access the Website and/or the
                    Client
                    Portal.</li>
                <li>Communication history with you. This information may include file notes, emails, support request
                    through our
                    ticketing system JIRA, LiveChat Support and the outcomes of telephone calls.</li>
                <li>Usage and other information as required to effect a commercial relationship.</li>
            </ol>
            <p><strong>&nbsp;</strong></p>
            <p><strong>When do we collect this information about you?</strong></p>
            <p>PlanPlus collects this information:</p>
            <ol>
                <li>Directly from you, including when you provide information by phone, e-mail, support request through
                    our
                    ticketing system JIRA, LiveChat Support or fax;</li>
                <li>From our own records of your use of the Website and the Client Portal;</li>
                <li>From publicly available sources of information (we do not collect personal data on EU data subjects
                    from
                    public sources); and</li>
                <li>From an associated website or other third party that registered your access to the Website.</li>
            </ol>
            <p><strong>&nbsp;</strong></p>
            <p><strong>How may this information be used?</strong></p>
            <p>This information is used to:</p>
            <ol>
                <li>Provide the services you require;</li>
                <li>Administer and manage your account and services, including your billing and subscription;</li>
                <li>Inform you of information relating to your use of the Website and the Client Portal, including our
                    e-newsletter; and</li>
                <li>Research and develop the Website, the Client Portal and supporting services.</li>
            </ol>
            <p>Your IP address is used to assist us to establish where the risk profile was completed in the event of a
                legal
                dispute.</p>
            <p>This information will also be used to send you the communications identified below.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>PlanPlus&rsquo;s Mailing List</strong></p>
            <p>Our mailing list contains your name, email address, country, phone and organisation.</p>
            <p>Our mailing list is used to send out our news bulletin (news about risk, financial planning, risk
                profiling and
                suitability). From time to time you may receive special offers/promotions from third parties where we
                have your
                consent to send these to you. You may unsubscribe from our mailing list at any time.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>To Unsubscribe from Our Communications</strong></p>
            <p>You may unsubscribe from our marketing communications by clicking on the "unsubscribe" link located on
                the bottom
                of our emails; if you receive the news bulletin, you can opt out by changing the <u>email
                    preferences</u> link
                found at the footer of the new bulletin; or by sending us an email at <a
                    href="mailto:privacy@planplus.global.com">privacy@planplus.global.com</a>. Customers cannot opt out
                of
                receiving transactional emails related to their account with us or the Subscription Service.</p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>EU Processor Obligations </strong></p>
            <p>Depending on the context of the relationship, we may process Personal Data as a processor, controller or
                joint
                controller for the purposes of providing our services.</p>
            <p>We also process certain Personal Data of Subscribers as a data controller. Such Personal Data includes,
                invoicing
                details and other Personal Data of our customer&rsquo;s contact persons, in order to maintain our
                relationship
                and to provide support using the tools provided by our third party providers/processors as outlined in
                this
                Privacy Policy.</p>
            <p>If you are from the EEA and you are trialling, supplying or commercially using the PlanPlus Global
                Software so as
                to be able to register other persons to complete use the Client Portal, we:</p>
            <ol>
                <li>will process the Personal Data only in accordance with instructions within the scope of our
                    Subscription
                    Service from you. If we believe that an instruction from you infringes applicable data protection
                    law, we
                    shall inform you without delay. If we cannot process Personal Data in accordance with the
                    instructions due
                    to a legal requirement, we will (i) promptly notify you of that legal requirement before the
                    relevant
                    processing to the extent permitted by applicable data protection law; and (ii) cease all processing
                    (other
                    than merely storing and maintaining the security of the affected Personal Data) until such time as
                    you issue
                    new instructions with which we are able to comply. If this provision is invoked, we will not be
                    liable to
                    you for any failure to perform the applicable services until such time as you issue new instructions
                    in
                    regard to the processing.</li>
                <li>will assist you reasonably, taking into account the nature of the processing:</li>
                <li>by appropriate technical and organisational measures and where possible, in fulfilling your
                    obligations to
                    respond to requests from data subjects exercising their rights;</li>
                <li>in ensuring compliance with the obligations pursuant to Articles 32 to 36 of the EU General Data
                    Protection
                    Regulation, taking into account the information available to us; and</li>
            </ol>
            <ul>
                <li>by making available to you all information reasonably requested by you for the purpose of
                    demonstrating that
                    your obligations relating to the appointment of processors as set out in Article 28 of the EU
                    General Data
                    Protection Regulation have been met;</li>
            </ul>
            <ol>
                <li>shall be entitled to engage third party service providers/ sub-processors to fulfil our obligations
                    with
                    your written consent. For these purposes, your consent to our appointment of the third party service
                    providers/ sub-processors listed at <a
                        href="http://www.planplusglobal.com/gdpr/serviceprovider">planplusglobal.com/gdpr/serviceprovider</a>
                    for the purposes and at the location stipulated. For the avoidance of doubt, the above authorization
                    constitutes your prior written consent to the sub-processing by our third-party service providers /
                    sub-processors. We will notify you of any changes to the list of approved third party service
                    providers /
                    sub-processors, by email (to your most recently provided email address) and/or post any revisions
                    to <a
                        href="http://www.planplusglobal.com/gdpr/serviceprovider">www.planplusglobal.com/gdpr/serviceprovider</a>.
                    We will provide you with the opportunity to object to the engagement of the new sub-processors
                    within 7
                    calendar days after being notified. The objection must be based on reasonable grounds (e.g. if you
                    prove
                    that significant risks for the protection of your Personal Data exist at the sub-processor). If we
                    are
                    unable to resolve such objection, either party may terminate the Subscription Service by providing
                    written
                    notice to the other party;</li>
                <li>will enter into a contract with a sub-processor where we engage a sub-processor, imposing on the
                    sub-processor, the same data protection obligations that apply to us. Where the sub-processor fails
                    to
                    fulfil its data protection obligations, we will remain liable to you for the performance of such
                    sub-processor&rsquo;s obligations;</li>
                <li>will upon expiration, termination of your Subscription Service, whereby no further processing is
                    required,
                    upon your written request, at our discretion, either delete, destroy or return Personal Data to you,
                    unless
                    we require the retention of such Personal Data to comply with our legal obligations, to resolve
                    disputes, to
                    enforce our agreements, to support business operations, and to continue to develop and improve our
                    services;
                </li>
                <li>will notify you without undue delay after we become aware of any Personal Data breach affecting you
                    or the
                    persons that you registered to complete the Test. At your request, we will promptly provide you with
                    all
                    reasonable assistance necessary to enable you to notify relevant Personal Data breaches to the
                    relevant
                    authorities and/or affected data subjects, if you are required to do so under relevant data
                    protection law;
                    and</li>
                <li>will make available to you all information necessary to demonstrate compliance with our data
                    processor&rsquo;s obligations and allow for and contribute to audits, including inspections,
                    conducted by
                    you or another auditor mandated by the you.</li>
            </ol>
        </div>
        <br />
        <hr class="mt-4">
        <div class="form-group d-flex justify-content-end mb-0">
            <button type="submit" class="btn btn-success btn-small mb-0"
                [translate]="'FORM.ACTION.SAVE/PRINT'" onclick="window.open('https://planplusglobal.com/SP_PRIVACY_POLICY_FINAL.PDF', '_blank')"></button>
        </div>
    </div>
</div>