:host {
    background: #fff;
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    min-width: 250px;
    z-index: 100;
}

.residual-distribution-table tbody tr td {
        padding: 6px 0 6px 0;
        vertical-align: middle;
        border-top: none;
}

.residual-distribution-table tbody tr:last-child td {
    border-bottom: none !important; 
}

.beneficiary-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #788588;
}

