<div class="row">
    <div class="col-md-8 col-12">
        <h4>
            <a [routerLink]="['/client', clientId, 'planning']" [translate]="'BREADCRUMB.PLANNING'"></a> /
        </h4>
        <h1 class="d-inline-block fw-500" [translate]="'BREADCRUMB.ESTATE_PLANNING'"></h1>
    </div>
    <div class="col-md-4 col-12 text-right dropdown-right">
        <div class="d-inline-block nextprive-box mr-lg-5 mr-3">
        </div>
        <app-planning-module-drop-down class="dropdown-right" [clientId]="clientId"></app-planning-module-drop-down>
    </div>
    <div class="col-12">
        <hr>
    </div>
    <div class="col-12">
        <ul class="nav nav-tabs d-if" role="tablist">
            <li class="nav-item">
                <a class="nav-link p-lr-40" [routerLink]="['/client', clientId, 'planning', 'estate', 'information']" routerLinkActive="active" [translate]="'ESTATE_PLANING.HEADER.LEGAL_INFORMATION'"></a>
            </li>
            <li class="nav-item mb-0">
                <a class="nav-link p-lr-40" [routerLink]="['/client', clientId, 'planning', 'estate', 'named-beneficiary']" routerLinkActive="active" [translate]="'ESTATE_PLANING.HEADER.NAMED_BENEFICIARY'"></a>
            </li>
            <li class="nav-item mb-0">
                <a class="nav-link p-lr-40" [routerLink]="['/client', clientId, 'planning', 'estate', 'distributions']" routerLinkActive="active" [translate]="'ESTATE_PLANING.HEADER.DISTRIBUTIONS'"></a>
            </li>
            <li class="nav-item mb-0">
                <a class="nav-link p-lr-40" [routerLink]="['/client', clientId, 'planning', 'estate', 'analysis']" routerLinkActive="active" [translate]="'ESTATE_PLANING.HEADER.ANALYSIS'"></a>
            </li>
        </ul>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>