<div class="bg-white pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h4 class="mb-1">
                    <a [routerLink]="['/client',clientId,'profile']" [translate]="'BREADCRUMB.CLIENT_PROFILE'"></a> /
                </h4>
                <h1 [translate]="'ENGAGEMENT.TITLE'"></h1>
            </div>
            <div class="col-sm-5 d-flex flex-wrap justify-content-end">
                <div class="mt-auto">
                    <app-profile-module-drop-down class="dropdown-right" [clientId]="clientId"></app-profile-module-drop-down>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" *ngIf="accessRights['ENG01']['accessLevel'] > 0 && (accessRights['HMOGL']['accessLevel'] > 0 || accessRights['CLIVALUES']['accessLevel'] > 0)">
                        <a [routerLink]="['/client',clientId,'profile', 'engagement', 'summary']" routerLinkActive="active" data-toggle="tab" class="nav-link" [translate]="'ENGAGEMENT.SUMMARY'"></a>
                    </li>

                    <li class="nav-item" *ngIf="accessRights['CLTYP']['accessLevel'] > 0">
                        <a [routerLink]="['/client',clientId,'profile', 'engagement', 'service-level']" routerLinkActive="active" class="nav-link" data-toggle="tab" [translate]="'ENGAGEMENT.SERVICE_LEVEL'"></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 text-right pt-3 pt-sm-0">
                <button type="button" [translate]="'PORTFOLIO.ACTION.EDIT'" class="btn btn-success btn-small p-lr-25 ml-auto mr-15 mb-0" *ngIf="serviceLevelPage && !isEditInputField" (click)="editServicePage() "></button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>