.change-password-wrapper {
    max-width: 300px;
}

.licence-container .licence-wrapper p {
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form-signin .form-group .form-control::placeholder {
    color: #9ab;
    opacity: 1;
}

.form-signin .form-group i {
    color: #bcd;
}