<div class="licence-container" [ngClass]="{'pt-30px': resetKey}">
    <div class="main-container">
        <form class="form-signin" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
            <div class="licence-wrapper">
                <h1 class="mb-4" [translate]="'MY_PROFILE.TAB.CHANGE_PASSWORD'"></h1>
                <p [translate]="'CHANGE_PASSWORD.SECURITY_DETAILS'"></p>
                <p class="mb-4" [translate]="'CHANGE_PASSWORD.PASSWORD_DESCRIPTION'"></p>

                <div class="change-password-wrapper">
                    <div class="form-group" *ngIf="!resetKey" [ngClass]="{ 'has-error': !currentPassword.valid && (currentPassword.dirty || currentPassword.touched || f.submitted) }">
                        <label class="custom-form-label" [translate]="'CHANGE_PASSWORD.CURRENT_PASSWORD'"></label>
                        <div class="left-icon">
                            <i class="ion-ios-lock"></i>
                            <input class="form-control" name="currentPassword" type="password" [(ngModel)]="model.currentPassword" #currentPassword="ngModel"
                                placeholder="Current password" pattern="^(?=(.*[a-zA-Z]){2})(?=(.*[0-9]){2})(?=.*\d)([@$!%*#?&_]*)(?!.*\s).{6,12}$" required/>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': !newPassword.valid && (newPassword.dirty || newPassword.touched || f.submitted || (model.retypePassword !== model.newPassword))  }">
                        <label class="custom-form-label" [translate]="'CHANGE_PASSWORD.NEW_PASSWORD'"></label>
                        <div class="left-icon">
                            <i class="ion-ios-lock"></i>
                            <input class="form-control" name="newPassword" type="password" [(ngModel)]="model.newPassword" #newPassword="ngModel" placeholder="New password"
                                pattern="^(?=(.*[a-zA-Z]){2})(?=(.*[0-9]){2})(?=.*\d)([@$!%*#?&_]*)(?!.*\s).{6,12}$" validateEqual="retypePassword" reverse="true"
                                required/>
                        </div>
                    </div>
                    <div class="form-group mb-0" [ngClass]="{ 'has-error': !retypePassword.valid && (retypePassword.dirty || retypePassword.touched || f.submitted || (model.retypePassword !== model.newPassword))}">
                        <label class="custom-form-label" [translate]="'CHANGE_PASSWORD.RETYPE_PASSWORD'"></label>
                        <div class="left-icon">
                            <i class="ion-ios-lock"></i>
                            <input class="form-control" name="retypePassword" type="password" [(ngModel)]="model.retypePassword" #retypePassword="ngModel"
                                placeholder="Retype password" validateEqual="newPassword" pattern="(?=(.*[a-zA-Z]){2})(?=(.*[0-9]){2})(?=.*\d)([@$!%*#?&_]*)(?!.*\s).{6,12}$"
                                required/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group text-right mb-0">
                <hr class="mt-4 mb-4">
                <button (click)="back(); closeButtonDisable=true" type="button" class="btn btn-secondary mb-0 mr-2" [disabled]="closeButtonDisable">{{ 'FORM.ACTION.CANCEL' | translate }}</button>
                <button type="submit" value="submit" class="btn btn-success mb-0" [disabled]="f.form.invalid && ((model.newPassword === model.retypePassword) || (model.newPassword !== model.currentPassword))">{{ 'FORM.ACTION.SAVE_CHANGES' | translate }}</button>
            </div>
        </form>
    </div>
</div>
