<div class="bg-white pt-4 pb-4 assets-summary-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <app-assets-header [clientId]="clientId" currentPage="savings" [accountId]="accountId" (switchAccount)="changeAccount($event)"></app-assets-header>
            </div>
            <div class="col-12">
            </div>
            <div class="col-12">
                <div>
                    <a [routerLink]="['add-savings']" class="btn-add " *ngIf="accessRights['SAV01']['accessLevel'] > 0">
                        <i class="ion-md-add-circle"></i>
                        <span [translate]="'ASSETS_SUMMARY.ACTION.ADD_SAVINGS'"></span>
                    </a>
                </div>
                <div class="d-flex flex-wrap mb-0 hidden-xs-down">

                    <div class="sort-dropdown ml-0">
                        <app-common-drop-down [itemList]="viewBy" [defaultSelected]="selectedViewBy" dropDownLabel="{{'VIEW_BY_DROPDOWN' | translate}}"
                            (OnSelect)="displayViewBy($event)"></app-common-drop-down>
                    </div>
                    <div class="sort-box ml-auto">
                        <i class="ion-md-funnel"></i>
                        <div class="sort-dropdown">
                            <app-common-drop-down class="dropdown-right" [itemList]="sortBy" [defaultSelected]="selectedSortBy" dropDownLabel="{{'SORT_BY_DROPDOWN' | translate}}"></app-common-drop-down>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12" *ngIf="!noSavings">
                <app-savings-list-html [clientId]="clientId" [accountId]="accountId" [i_id]="accountId" [type]="'account'" [allSavings]="allSavings" [selectedViewBy]="selectedViewBy" [selectedGroupBy]="selectedGroupBy"></app-savings-list-html>
            </div>
            <ng-container *ngIf="allSavings.length > 0 && dataProviderList.length > 0">
                <div class="col-12 hidden-xs-down">
                    <app-timeline-chart  [clientData]="clientData" titleName="{{ 'GRAPH.SAVINGS_MAP' | translate}}" [dataProviderList]="dataProviderList" [goalList]="graphSavingList" [goalListAmount]="graphSavingListAmount"
                    (OnSelect)="savingMapChange($event)" [selectedDropdownOption]="selectedDropdownOption"></app-timeline-chart>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="view-side-form">
    <router-outlet></router-outlet>
</div>
